* {
  padding: 0;
  margin: 0;
  font-family: "Lexend", system-ui, sans-serif;
  color: white;
}

body {
  background-color: black;
  overflow-y: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  margin: 5px;
}

input {
  width: 75%;
  padding-left: 1.5em;
  font-size: medium;
}

select, option, button, input {
  color: black;
  height: 2.5em;
  border-radius: 10px;
  border: none;
}

select, button {
  padding: 5px;
}

.search-ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}