* {
  padding: 0;
  margin: 0;
  font-family: "Lexend", system-ui, sans-serif;
  color: white;
}

body {
  background-color: black;
  overflow-y: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  margin: 5px;
}

input {
  width: 75%;
  padding-left: 1.5em;
  font-size: medium;
}

select, option, button, input {
  color: black;
  height: 2.5em;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}

select, button {
  padding: 5px;
}

.search-ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#add {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pinned {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.create-pinned-URL {
  height: 1.8em;
  width: 40%;
}

.pinned-item {
  text-decoration: none;
  margin: 0;
  padding: 5px;
}

.pinned-item * {
  margin: 2.5px;
  padding: 0;
}

.pinned-item img {
  width: 30px;
  height: 30px;
}